/* Colors */
$green: #0EAC99;
$activeLink: #fff;
$black: #3B3B3B;

/* Media queries */
$mobile-sm: "max-width: 565px";
$mobile: "max-width: 767px";
$tablet: "max-width: 1063px";
$laptop: "max-width: 1199px";
