@import '../../../assets/scss/vars.scss';

.children {
    margin-bottom: 6rem;

    &__wrapper {
        background: $gradient180;
        padding: 5.5rem 9.5rem;
        border-radius: 20px;
    }

    &__intro {
        display: flex;
        align-items: center;
        margin-bottom: 5rem;

        & button {
            margin: 0;
        }
    }

    &__title {
        margin: 0;
        margin-right: 3rem;
    }

    &__box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5rem;

        @media ($tablet) {
            grid-template-columns: 1fr;
        }
    }
}
