@import '../../../assets/scss/vars';

.standart {
    margin: 10rem auto;

    @media ($mobile) {
        margin: 6rem auto;
    }

    &__title {
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

.standart__data {
    margin-bottom: 50px;

    &-items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr auto;
        grid-column-gap: 30px;
        margin-bottom: 30px;

        @media ($tablet) {
            grid-template-columns: 1fr;

            &.media {
                grid-template-columns: 1fr 1fr;
                align-items: center;
            }
        }
    }

    &-title {
        max-width: 300px;
        background: #FCE699;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 30px;
        text-align: center;

        & h4,
        & h5 {
            max-width: 200px;
            font-weight: 500;
            line-height: 27px;
            word-wrap: break-word;
        }

        & h4 {
            font-size: 22px;
        }

        & h5 {
            font-size: 20px;
        }

        @media ($tablet) {
            justify-self: center;
            margin-bottom: 2rem;

            &--media {
                margin-bottom: 0;
                justify-self: end;
                min-width: 20rem;
            }
        }
    }

    &-levels,
    &-lock,
    &-skills {
        grid-column: span 2;
    }

    &-levels {
        grid-column: 2 / 5;
        display: flex;
        justify-content: space-between;
        margin: 10px 0;

        @media ($tablet) {
            grid-column: 1;
            display: flex;
            justify-content: space-evenly;
        }
    }

    &-lock {
        width: 100%;
        height: 100%;
        background: #0EAC99;
        border-radius: 20px;
        transition: box-shadow .2s linear;

        &:hover {
            box-shadow: 0 0 10px #0EAC99;
        }

        & img {
            padding: 30px;
            display: block;
            margin: auto;
        }

        @media ($tablet) {
            &--media {
                grid-column: auto;
                justify-self: start;
                width: auto;
                height: auto;
                display: block;
            }
        }
    }

    &-skills {
        grid-column: 2 / 5;
        width: calc(100%-20px);
        padding: 10px;
        word-wrap: break-word;
        border: 1px solid #0EAC99;
        border-radius: 20px;
        text-align: justify;
        font-size: 16px;
        line-height: 25px;

        @media ($tablet) {
            grid-column: 1;
        }
    }
}

.standart_profile {
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    background: #74e4d7;
    border-radius: 40px;
    height: 93px;
    width: 444px;
    border: none;
    display: flex;
    align-items: center;
    margin: 0 auto 60px auto;
    text-decoration: none;
    color: $black;
    transition: box-shadow .2s linear;
    justify-content: center;
    padding: 1rem;

    &:hover {
        box-shadow: 0 0 10px #74e4d7;
    }

    @media ($tablet) {
        width: 80%;
    }
}

.standart__notice {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #847F7F;
    text-align: justify;
}
