@import '../../assets/scss/vars';

.header {
    padding: 2rem 0;
    background-color: $green;
    border-radius: 0px 0px 20px 20px;

    @media screen and ($tablet) {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        border-radius: 0;
        background-color: #6cf5b3;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and ($tablet) {
            &.active {
                border-bottom: 1px solid $black;
                padding-bottom: 2rem;
            }
        }
    }

    &__logo {
        display: block;
        transition: transform .2s linear;
        z-index: 1;
    }

    &__image {
        display: block;
        width: 80%;
        transition: transform .2s linear;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;

        @media screen and ($tablet) {
            //display: none;
            position: absolute;
            left: 50%;
            top: 15rem;
            transform: translateX(-50%);
            flex-direction: column;
            align-items: center;
            background-color: #6cf5b3;
            width: 100vw;
            height: 0;
            transition: height .4s linear;

            & * {
                visibility: hidden;
            }

            &.active {
                padding-top: 5rem;
                height: 100vh;

                & * {
                    transition: color .2s linear, visibility .2s linear .4s;
                    visibility: visible;
                }
            }
        }
    }

    &__links {
        display: flex;

        @media screen and ($tablet) {
            flex-direction: column;
            align-items: center;
            margin-top: 3rem;
        }
    }

    &__link {
        display: block;
        color: $black;
        font-size: 2rem;
        margin-right: 2rem;
        text-decoration: none;
        transition: color .2s linear;

        &:last-child {
            margin-right: 10rem;
        }

        @media screen and ($tablet) {
            margin-right: 0;
            margin-bottom: 3rem;
            font-size: 3rem;

            &:last-child {
                margin-right: 0;
            }
        }

        &:hover {
            color: darken($black, 30%);
        }

        &.active {
            color: $activeLink;
        }
    }

    &__icons {
        flex-direction: row;
    }

    &__icon {
        margin-left: 3rem;
        font-size: 4rem;
        color: $black;

        @media screen and ($tablet) {
            margin-left: 4rem;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    &__svg {
        transition: transform .2s linear;

        @media screen and ($tablet) {
            font-size: 5rem;
        }

        &:hover {
            transform: scale(1.2);
        }
    }
}

.burger {
    display: none;
    margin-right: 1rem;
    font-size: 5rem;
    color: $black;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;

    @media screen and ($tablet) {
        display: block;
    }
}
