@import '../../assets/scss/vars.scss';

.reset {
    margin: 12.5rem auto 8rem;

    @media ($tablet) {
        margin-top: 22.5rem;
    }

    &__wrapper,
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__wrapper {
        background: $gradient180;
        padding: 2rem 3.7rem;
        border-radius: 20px;
    }

    &__title {
        font-size: 2.8rem;
        margin-bottom: 3rem;
        color: $black;
        font-weight: 400;
        text-align: center;
    }

    &__form input {
        margin-bottom: 2.4rem;
        max-width: 36.6rem;
    }

    &__link {
        color: $black;
        font-size: 2rem;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}